// Fonts
$font-family-sans-serif: "Inter", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 600 !default;
$font-size-base: .875rem !default;
$font-size-lg: .925rem !default;
$font-size-sm: .75rem !default;
$small-font-size: 80% !default;

// Spacer
$spacer: 1rem !default;

// Grid gutter
$grid-gutter-width: 24px;


// Options
$enable-validation-icons: false !default;
$enable-rfs: false !default;
$enable-negative-margins: true !default;
$min-contrast-ratio: 3 !default;

$primary:       #25334b !default;
$secondary:     #68a145 !default;
$info: #17a2b8 !default;

// Not modified by dark theme
$static-white:    #fff !default;
$static-gray-100: #f8f9fa !default;
$static-gray-200: #e9ecef !default;
$static-gray-300: #dee2e6 !default;
$static-gray-400: #ced4da !default;
$static-gray-500: #adb5bd !default;
$static-gray-600: #6c757d !default;
$static-gray-700: #495057 !default;
$static-gray-800: #020202 !default;
$static-gray-900: #212529 !default;
$static-black: #000 !default;

// Body
$body-bg: #f5f7fb !default;
$body-color: $static-gray-500 !default;

$tab-link-color: $static-gray-500 !default; 
$link-color: $static-gray-500 !default;

$content-padding-mobile: 1.5rem 1.5rem .75rem !default;

